---
const { icon, title, description, link, image } = Astro.props;
---

<a href={link}>
    <div>
        <div class="back-card"></div>
        <div class="card">
            <h2>{icon} {title}</h2>
            <p class="card-content" set:html={description} />
            {image ? 
                <img src={image} alt={title} />
                : ""
            }
        </div>
    </div>
</a>

<style>
    a {
        text-decoration: none;
        color: white;
    }

    .back-card {
        width: 300px;
        height: 300px;
        background-color: var(--hc-green);
        position: absolute;
        z-index: 1;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        padding: 2rem;
        width: 300px;
        height: 300px;
        border-radius:;
        background-color: var(--hc-red);
        position: relative;
        z-index: 5;
        transition: all 0.2s ease-in-out;
    }

    .card:hover {
        transform: translateY(-10px) translateX(10px) rotate(5deg) scale(1.1);
    }
    .card-content a {
        color: white;
    }

    .card img {
        width: 100%;
    }
</style>
