---
const { icon, title, description, link, image, width, height } = Astro.props;
---

<a href={link} style=`width:${width ?? 200};`>
        <div class="card" >
            <h2>{icon} {title}</h2>
            <p class="card-content" set:html={description} />
            {image ? 
                <img src={image} alt={title} />
                : ""
            }
        </div>
</a>

<style>
    a {
        text-decoration: none;
        color: white;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        padding: 2rem;
        width: 85%;
        height: 90%;
        background-color: var(--hc-red);
        /* position: relative; */
        z-index: 5;
        transition: all 0.2s ease-in-out;
    }

    .card:hover {
        transform: translateY(-10px) translateX(10px) rotate(5deg) scale(1.1);
    }
    .card-content a {
        color: white;
    }

    .card img {
        width: 100%;
        height: auto;
    }
</style>
